/* App */
Screen {
    layout: vertical;
}

/* Library Info Row */
#library_info_row {
    width: 1fr; height: auto;
    align: center middle;

    #library_info_row_key_label {
        width: auto; height: 100%;
        content-align-vertical: middle;
        margin: 0 1 0 0;
    }
    #library_info_row_value_label {
        width: 1fr; height: 100%;
        content-align-vertical: middle;
        text-style: bold; color: $accent
    }
    #library_info_row_refresh_button {
        width: auto; height: auto;
    }
}

/* Search Row */
#search_row {
    width: 1fr; height: auto;
    align: center middle;

    #search_row_key_label {
        width: auto; height: 100%;
        content-align-vertical: middle;
        margin: 0 1 0 0;
    }
    #search_row_search_input {
        width: 1fr; height: auto;
    }
}

/* Main Body */
#main_body {
    width: 1fr; height: 1fr;
    padding: 1 0 0 0;
    
    #results_block {
        width: 3fr; height: 1fr;
        border: round $primary;
        padding: 1 1 1 1;
    }
    #details_block {
        width: 1fr; height: 1fr;
        border: round $primary;
        padding: 1 1 1 1;
    }
}
