/* App */
Screen {
    layout: vertical;
}

/* Library Info Row */
#library_info_row {
    width: 1fr; height: auto;
    align: center middle;
    padding: 1 1 1 1;

    #library_info_row_key_label {
        width: auto; height: auto;
        margin: 0 1 0 0;
    }
    #library_info_row_value_label {
        width: auto; height: 100%;
        text-style: bold; color: $primary
    }
}

/* Search Row */
#search_row {
    width: 1fr; height: auto;
    align: center middle;
    padding: 0 0 0 1;

    #search_row_key_label {
        width: auto; height: 100%;
        content-align-vertical: middle;
        margin: 0 1 0 0;
    }
    #search_row_search_input {
        width: 1fr; height: auto;
    }
    #search_row_search_input.-invalid {
        border: tall $error;
    }
    #search_row_search_input.-valid {
        border: tall $success;
    }
}

/* Main Body */
#main_body {
    width: 1fr; height: 1fr;
    padding: 1 0 0 0;
    
    #results_block {
        width: 3fr; height: 1fr;
        border: round $primary;
        padding: 1 1 1 1;
    }
    #details_block {
        width: 1fr; height: 1fr;
        border: round $primary;

        #details_open_pdf_button {
            width: 1fr; height: auto;
            margin: 0 1 0 1
        }
    }
}
