Screen {
    layout: vertical;
}

#search_row {
    height: 3;
    padding: 0 1;
    align: left middle;
}

#search_label {
    width: 8;
    height: 3;
    content-align: left middle;
    margin-right: 1;
}

#search_input {
    width: 1fr;
}

#body {
    height: 1fr;
    padding: 0 1 1 1;
}

#results_block, #details_block {
    height: 1fr;
    border: solid $primary;
    padding: 1;
}

#results_block {
    width: 3fr;
    margin-right: 1;
}

#details_block {
    width: 1fr;
}

#results_label, #details_label {
    text-style: bold;
    /*margin-bottom: 1;*/
}
